<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="">
        <meta charset="UTF-8">
        <meta name="description" content="about myself">
        <meta name="keywords" content="about,about yourself">
        <title>About myself</title>
        <meta http-equiv="refresh" content="30">
        
    </head>
    <body>
        <header>
<h1>&#128587; Know About Me!</h1>
<nav>
    <a href="index.html">HOME</a>
    <a href="about.html">ABOUT</a>
    <a href="contact.html">CONTACT</a>
</nav>
        </header>
<section class="introd">
    <h2> 🙋🏻‍♂️ About Myself</h1>
    <p>👨🏻‍💼 My Name is Gurijala Srinivas Rao</p>
    <p> &#127891; I am a B.Tech Under Graduate from year 2026</p>
    <p> 💻 I studied my B.tech in Information Technology(2023-2026) </p>
    <p> &#127979; At the J.B Institute Of Engineering and Technology,moinabad,yenkapally</p>
    <p> &#128205; I am from  Hyderabad 500091</p>
    
</section>
<hr>
<br><br>
<!--Passion-->
<section class="pass">
<h2> &#128293; My Passion</h2>
<ol type="1">
<li>Web development &#127760;</li>
<li>Data Science &#128202;</li>
<li>Artificial Intelligence &#129302;</li>
<li>Coding & Programmer &#128187;</li>
<li>Videography &#127909;</li>
<li>Photography &#128247;</li>
</ol>
</section><hr><br><br>
<!---->
<section class="resume">
<details>
    <summary>
        Click Here To View My Resume!
    </summary>
    <img src="../images/resume.jpg" alt="resume" height="800px;" width="600px;" style="max-width:55%;max-height:70%;">
</details>
</section><br><hr>
<section>
    <h2> &#127919; My Goals</h2>
    <ol>
        <li>To Become a Full Stack Web developer</li>
        <li>To integrate Ai with web dev</li>
        <li>to pursue a government job</li>
        <li>to be successful entreprenuer</li>
    </ol>
    
</section><hr><br><br>
<!--Hobbies-->
<section class="hobb">
<h2> &#10024; My Hobbies</h2>
<ul style="list-style-type:circle;">
    <li>Cycling 🚴</li>
    <li>Walking at the park 🚶🏻‍➡️</li>
    <li>Listening music 🎧</li>
    <li>Watching Movies 🍿🎬</li>
    <li>Playing chess ♟️</li>
</ul>
</section><br><hr>
<!--Favorites-->
<section class="myfavourites">
<h2> 🤩 My Favourites</h2>
<p>Favorite color:Orange 🧡</p>
<p>Favourite Sport:shuttle 🏸</p>
<p>Favourite Activity:Doing Maths 🔢</p>
<p>Favourite Movie:Harry Potter Series 🧙🏼‍♂️</p>
<p>Favorite Movie Genere:Scifi,Thriller 🤖 😱</p>
</section><br><hr>
<!--section strengths-->
<section clas="strengths">
<h2> 💪 My Strengths Are</h2>
<p> 🕵🏻 Indepth problem solver</p>
<p> 🧠 Quick learning </p>
<p> 🔀 Adaptibility</p>
<p> 🤝 Team Work Collaboration</p>
<p> ⏰ Time Management</p>
<p> 🗣️ Communication</p>
</section><br><hr>
<!--weakness-->
<section class="weakness">
<h2> 🥀 My Weaknesses</h2>
<p>💼 Lack of real world experience</p>
<p>🗣️ Nervousness in public speaking</p>
<p>🙅 Difficulty in saying <q>NO</q></p>
</section><br><hr>
<!--footer-->
<footer>
    &trade; Thank you for knowing About Me!❤️
</footer>

    </body>
</html>