<!DOCTYPE html>
<html>
    <head>
<link rel="icon" type="image/x-icon" href="">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Contact Form</title>
<meta charset="UTF-8">
<meta name="keywords" content="contact,inqueries">
<meta name="description" content="contact form ">
<meta name="author" content="Srinivas rao">
<meta http-equiv="refresh" content="30">
    </head>
    <body>
<header>
    <h1> 📞 Contact Form!</h1>
    <nav>
        <a href="index.html">HOME</a>
        <a href="about.html">ABOUT</a>
        <a href="contact.html">CONTACT</a>
    </nav>
</header><br><hr>
<section class="mail">
<h2> 📧 Get In Touch!</h2>
<p>For Faster Communication Mail Me!</p>
<p><b>Email:</b> gurijalasrinivas39@gmail.com</p>
</section><br><hr>
<section class="contact">
    <form id="form1" action="" method="">
<fieldset>
    <legend>📝 Enter Contact Details</legend>
    <label for="Name"> 👦🏻 Enter Your Name:</label><br><br>
    <input type="text" id="Name" name="Name" placeholder="Enter Your Name!" required><br><br>
    <label for="mail"> 📩 Enter Your Email:</label><br><br>
    <input type="email"  id="mail" placeholder="Enter Your Mail" required><br><br>
    <label for="mobile">☎️ Enter Your Phone Number:</label><br><br>
    <input type="text" pattern="+[0-9]{2}/s[0-9]{10}" id="mobile" placeholder="+91 7801082582" required><br><br>
    <label for="textfield">✉︎ Enter Your Message:</label><br><br>
    <textarea id="textfield" style="height:900px;width:700px;">
        enter your message!
    </textarea>



</fieldset>
<input type="submit" value="Send Message"><input type="reset" value="Reset Message">
</form>
</section><br><hr>
<section class="">
    <h2>🌐Social Media </h2>
<p><a href="" target="_blank">Github</a></p>
<p><a href="" target="_blank">LinkedIn</a></p>
<p><a href="" target="_blank">Facebook</a></p>
</section><br><hr>
<footer>
    <address>
        <b>📌 CONTACT INFO</b><br>
    Gurijala Srinivas Rao <br>
    Email:gurijalasrinivas39@gmail.com<br>
    Phone:7801082582<br>
    State:Hyderabad,Telangana
    </address><br>
    🙏Thank You! For Contacting Me!
</footer>

    </body>
</html>