<!DOCTYPE html>
<html lang="en-IN">
    <head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="">
<title>My portfolio using html</title>
<meta charset="UTF-8">
<meta name="description" content="A brief description of my portfolio">
<meta http-eqiv="refresh" content="30">
<meta name="keywords" content="Skills,porfolio,jobs,internships">
<style>
    table{width:50%;border-collapse:collapse;}
    table,td,th{border:5px solid black;}
    td,th{padding:12px;}
    body{font-family:Arial, Helvetica, sans-serif;}
    .pr{border-radius:50%;border:5px solid rgb(239, 232, 8);}
    p{margin-left:10px;}
</style>
    </head>
    <body>
<header>
    <h1>&#127775; WELCOME TO MY PORTFOLIO WEBSITE</h1>
    <nav>
        <a href="index.html">HOME</a>
        <a href="about.html">ABOUT</a>
        <a href="contact.html">CONTACT</a>
    </nav>
<hr><hr>
</header><br>
<!--my info section-->
<section class="intro">
<img src="/profile.jpg" class="pr" alt="Profile image" style="height:500px;width:700px;" >
<h2>Hello I am Srinivas Rao Gurijala &#128075;</h2>
<br>
<p>👉 A beginner in technologies like Web dev,Data Science,Cloud</p>
<br>
<p>👉 A Fresher Under graduate in Information Technology(2023-2026)</p><br>
<p>👉 <b>Goal:</b> to integrate ai,datascience with web devlopment to build large scale innovative projects</p>
<br>

<p> ❤️‍🔥 I love coding(<em>python</em>),web dev,datascience,web series,Movies,chess</p>

</section>
<hr>
<br><br>
<!--skills section-->
<section>
    <h2> &#128187; Skills I am learning</h2><br><br>
    <ul style="list-style-type:square;">
        <li>HTML</li>
        <li>CSS</li>
        <li>Java Script</li>
        <li>Python</li>
        <li>DSA</li>
        <li>Excel</li>
        <li>Pandas</li>
        <li>Numpy</li>
    </ul>

</section><hr><br><br>
<!--daily activity-->
<section class="dact">
<table>
    <caption style="caption-side: top;">&#128198; My daily Acticities</caption>
    <table>
        <tr><th>Hour Duration</th><th>Activities Performed</th></tr>
        <tr><td>4:00AM-6:00AM</td><td>Excercise</td></tr>
        <tr><td>6:00AM-7:00AM</td><td>Freshup</td></tr>
        <tr><td>7:00AM-10:00AM</td><td>Coding & Problem Solving</td></tr>
        <tr><td>10:00AM-3:00PM</td><td>College</td></tr>
        <tr><td>3:00PM-4:00PM</td><td>Freshup</td></tr>
        <tr><td>4:00PM-6:00PM</td><td>Aptitude</td></tr>
        <tr><td>6:00PM-10:00PM</td><td>TECH SKILLS</td></tr>
        <tr><td>10:00PM-04:00AM</td><td>Sleep</td></tr>

    </table>
</table>

</section><hr><br><br>
<!--Quote-->
<section class="quote">
    <h2>&#128172; Favourite Quote</h2>
<blockquote>
    "Slow And Study Wins The Race"
</blockquote>
</section><hr><br><br>
<footer>
    &copy; portfilo website of Srinivas Rao Gurijala
</footer>
    </body>

</html>
